/*Top header */

.buy{
  background-color: rgb(21, 143, 21);
  width: 130px;
  height: 50px;
  border-radius: 5px;
  color: white;
  margin: 5px;
  float: right;
  cursor: pointer;
}
.stcimg{
  padding: 20px;
  cursor: pointer;
}

/* Header */
.home-header {
  padding: 10px;
  background-color: #bdbbbbe1;
  font-size: 25px;

}

/* Navigation */
.nav-items {
  display: flex;
  justify-content: center;
  width: 100%;
}

.reservation-button {
  background-color: orange;
  color: white;
  border: none;
  margin-right: 20px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 10px;
}

.shop-icon {
  font-size: 32px;
}

.nav-items .nav-link {
  margin: 0 15px;
}

.img-content {
  margin-bottom: 250px;
  padding: 0 300px 0 0;

}
.about-time{
  text-align: center;
}

.img-content h3 {
  color: white;
  font-size: 32px;
 
}

.img-content h1 {
  color: white;
  font-size: 70px;
 
}

.img-content p {
  color: white;
  font-size: 25px;

}
.hero-image{
    height: 800px; 
}

.find-us {
  text-align: center;
  height: 60px; 
  width: 180px; 
  margin-top: 30px;
  font-size: 20px; 
  background-color: yellow;
  color: black;
  border: none;
  border-radius: 10px;
}


@media (min-width:1px) and (max-width:767.98px){
  .hero-image{
    height: 400px; 
    width: 100%;
}
.img-content{
  margin-bottom: 1px;
  padding: 0 100px 0 0;
}
.img-content h1,h3,p{
  font-size: 12px;
}

}

